# NLP
nltk==3.8.1
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# ML
scikit-learn==1.4.2
numpy==1.26.4

# Web app
streamlit==1.45.1

# Utilities
colorama==0.4.6